#map {
    width: 780px;
    height: 400px;
  }

.nav-extended {
  background-image: url("../images/concert-crowd4.jpeg");
  background-position: center;
  background-size: cover;
  color: black;
}

body {
  background-image: url("../images/heart-headphones.jpg");
  /* background-size: cover; */
}

  
  .card-image{
    width: 300px;
    height:225;
  }

  

